/* constantes */
:root{
    --blue1: #030456;
    --blue2: #023e8a;
    --blue3: #0077b6;
    --blue4: #0096c7;
    --blue5: #00b4d8;
    --blue6: #48cae4;
    --blue7: #90e0ef;
    --blue8: #ade8f4;
    --blue9: #caf0f8;
    --almostBlack: rgb(16, 14, 29);
    --almostWhite: rgb(248, 248, 248);
   }

/* header */
/* já esta definido no global.css */

/* conteúdo */

main{
    height: auto;
    background: var(--almostWhite);
}

/* planos */
.titulo{
    text-align: center;
    padding-top: 30px;
    text-transform: uppercase;
}

.planos{
    margin: auto;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    height: auto;
}

.plano{
    flex: 20%;
    width: 20%;
    height: 100%;
    margin: 0 20px;
    padding: 40px;
    line-height: 30px;
    background: #caf0f871;
    border-radius: 5px;
    transition: 0.1s ease-in;
}

.plano:hover{
    box-shadow: 0 0 5px #666;
}

.plano h2{
    font-size: 30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    margin-bottom: 15px;
}

#bronze h2 i{
    color: #CD7F32;
}

#silver h2 i{
    color: #C0C0C0;
}

#gold h2 i{
    color: #FFD700;
}

.plano p i{
    color: var(--blue3);
}

.plano p{
    font-size: 20px;
    text-align: center;
}

.plano p::first-line{
    font-size: 30px;
}

.plano p button{
    margin-top: 17%;
    margin-bottom: 5%;
    width: 100%;
    height: 45px;
    color: var(--almostWhite);
    background: var(--blue1);
    line-height: 45px;
    text-align: center;
    border-radius: 100px;
    text-decoration: none;
    transition: 0.1s ease-in;
    border: none;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 2px;
}

.plano p button:hover{
    transform: scale(1.05);
    opacity: 0.7;
}

/* footer */
/* já esta definido no global.css */

/* responsividade */
/* tablet */
@media(max-width:801px){
    .plano{
        flex: 50%;
        width: 50%;
        height: 100%;
        margin: 0 17%;
        padding: 20px;
        margin-bottom: 5%;
        line-height: 40px;
        background: #caf0f871;
        box-shadow: 0 0 10px #666;
        border-radius: 5px;
    }

    .plano p button{
        width: 65%;
        margin-top: 10%;
    }
}

/* celular */
@media(max-width:480px){
    .planos{
        width: 90%;
    }

    .plano{
        flex: 100%;
        width: 100%;
        height: 100%;
        margin: 0 5%;
        padding: 20px;
        margin-bottom: 5%;
        line-height: 40px;
        background: #caf0f871;
        box-shadow: 0 0 10px #666;
        border-radius: 5px;
    }

    .plano p button{
        margin-top: 10%;
    }
}

