/* constantes */
:root{
    --blue1: #030456;
    --blue2: #023e8a;
    --blue3: #0077b6;
    --blue4: #0096c7;
    --blue5: #00b4d8;
    --blue6: #48cae4;
    --blue7: #90e0ef;
    --blue8: #ade8f4;
    --blue9: #caf0f8;
    --almostBlack: rgb(16, 14, 29);
    --almostWhite: rgb(248, 249, 251);
   }

/* header */
/* já esta definido no global.css */

/* conteúdo */
main{
    /* height: 200vh; */
    object-fit: cover;
    background-color: var(--almostWhite);
}

/* tab de cursos */
#titulo-principal{
    padding: 25px;
}

/* botoes dos cursos */
.buttons{
    width: 90vw;
    margin-left: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);
}

.tab-link{
    border: none;
    background: var(--almostWhite);
    color: var(--almostBlack);
    font-size: 17px;
    padding: 0 15px;
    margin: 0 35px;
    transition: 0.1s;
}

.tab-link:hover{
    cursor: pointer;
}

.tab-link:active{
    color: var(--almostBlack);
    font-weight: bold;
}

/* conteudo dos botoes */
.tab-content{
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #fff;
}

.tab-content .descricao{
    font-size: 20px;
    padding-left: 5px;
}

.itens{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.itens .item{
    margin-top: 7px;
    padding: 5px;
    flex: 16.6%;
    max-width: 16.6%;
    object-fit: cover;
}

.item img{
    max-width: 100%;
    min-width: none;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.274);
}

.item h3, .item p{
    padding-right: 5px;
}

.item a{
    color: var(--almostBlack);
    text-decoration: none;
}

.item h3{
    font-size: 15px;
}

.item p{
    font-size: 13px;
    text-align: justify;
}

.item img:hover{
    opacity: 0.8;
}

.item a:hover{
    text-decoration: underline;
}
/* fim tab cursos */

/* cursos completo */
#lista-titulo{
    padding: 25px;
}

.cursos-completo{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    border-top: 1px solid #666;
}

/* dropdown sidebar filtros*/
.cursos-completo .side-tab{
    flex: 20%;
    width: 20%;
    height: auto;
    background-color: var(--almostWhite);
}

/* funciona nos botoes e nos containers */
.side-tab .filtros, .side-tab .filtros-container{
    width: 100%;
    padding: 6px 8px 6px 16px;
    font-size: 16px;
    display: block;
}

/* botoes */
.side-tab .filtros{
    display: flex;
    justify-content: space-between;
    border: none;
    text-align: start;
    letter-spacing: 3px;
    font-weight: 600;
    border-bottom: 1px solid var(--almostBlack);
    cursor: pointer;
    color: var(--almostBlack);
    background: #fff;
}

/* cada item do container */
.side-tab .filtros-container .form-item{
    padding: 5px;
}

/* esconder os containers por padrao */
.side-tab .filtros-container{
    display: none;
}
/* fim dropdown sidebar */

/* lista de cursos */
.cursos-lista{
    width: 80%;
    flex: 80%;
    height: 100%;
    background: #fff;
}

.lista-item{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 1vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.295);
}

.lista-itens .lista-item img{
    flex: 13vw;
    max-height: 13vw;
    min-height: none;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.274);
}

.lista-item .lista-item-desc{
    flex: 55vw;
    padding: 5px 15px;
}

.lista-item .lista-item-desc a{
    color: var(--almostBlack);
    text-decoration: none;
}

.lista-item .lista-item-desc a:hover{
    text-decoration: underline;
}
/* fim lista de cursos */


/* pagination */
.lista-paginas{
    padding: 20px 0;
    display: block;
    text-align: center;
}

.lista-paginas a{
    font-size: 18px;
    margin: 10px;
    text-decoration: none;
    color: var(--almostBlack);
}

.lista-paginas a:hover{
    text-decoration: underline;
}

.lista-paginas a .fa-angles-left, .lista-paginas a .fa-angles-right{
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    transition: 0.5s;
    background: var(--almostBlack);
    color: var(--almostWhite);
}

.lista-paginas a .fa-angles-left:hover, .lista-paginas a .fa-angles-right:hover{
    opacity: 0.7;
}
/* fim da paginaion */
/* fim main */

/* footer */
/* já esta definido no global.css */

/* responsividade */
/* tablet */
@media(max-width:801px){
    .itens .item{
        flex: 33.33%;
        max-width: 33.33%;
    }

    .cursos-completo .side-tab{
        flex: 100%;
        width: 100%;
    }

    .cursos-completo .cursos-lista{
        width: 100%;
        flex: 100%;
    }

    .lista-itens .lista-item img{
        flex: 20vw;
        max-height: 20vw;
        min-height: none;
    }
}

/* celular */
@media(max-width:480px){
    .itens .item{
        flex: 100%;
        max-width: 100%;
    }

    .tab-link{
        font-size: 15px;
        padding: 0 10px;
        margin: 0 25px;
        transition: 0.1s;
    }

    .item h3{
        font-size: 16px;
    }

    .item p{
        font-size: 15px;
        text-align: justify;
    }

    .cursos-completo .side-tab{
        flex: 100%;
        width: 100%;
    }

    .cursos-completo .cursos-lista{
        width: 100%;
        flex: 100%;
    }

    .lista-itens .lista-item img{
        flex: 63vw;
        max-height: 63vw;
        min-height: none;
    }
}

