/* padrão */



/* header */

/* já esta definido no global.css */

/* conteúdo */

main{
    background-color: darkgrey;
    height: 200vh;
}

/* footer */

/* já esta definido no global.css */


/* tablet */
@media(max-width:801px){
   
}

/* celular */
@media(max-width:480px){
  
}

/* roda a animação quando interagir com o menu */
.nav-list.active {
    transform: translateX(0);
}