/* padrão */
:root{
    --blue1: #030456;
    --blue2: #023e8a;
    --blue3: #0077b6;
    --blue4: #0096c7;
    --blue5: #00b4d8;
    --blue6: #48cae4;
    --blue7: #90e0ef;
    --blue8: #ade8f4;
    --blue9: #caf0f8;
    --skin1: #f2d6ae;
    --skin2: #f5b895;
    --almostBlack: rgb(16, 14, 29);
    --almostWhite: rgb(248, 249, 251);
   }

body{
    overflow-x: hidden;
    background-color: var(--almostWhite);
}

/* header */
/* já esta definido no global.css */

/* conteúdo */
main{
    width: 100%;
    /* height: 400vh; */
}

/* slider de imagens */
.slide{
    position: relative;
    width: 100%;
    height: 32vw;
    overflow: hidden;
    background-color: var(--blue9);
}

.slides{
    display: flex;
    width: 200%;
}

.slides .image{
    position: relative;
}

.slides .image .content{
    /* text-align: justify; */
    position: absolute;
    width: 350px;
    padding: 24px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 6px #666;
}

.slides .image .content h2{
    text-transform: uppercase;
    letter-spacing: 1px;
}

.slides .image #ctt-banner1{
    top: 70px;
    left: 100px;
}

.slides .image #ctt-banner2{
    top: 70px;
    right: 160px;
}

.slides .image img{
    width: 100%;
    height: 30vw;
}

#atual{
    /* 
    por que a primeira imagem começa com 0 
    a segunda começa quando a primeira acaba,
    ou seja, a margin-left dela é da width
    */
    margin-left: 0; 
    transition: all 2s;
}

.btn{
    z-index: 4;
    position: absolute;
    width: 35px;
    height: 35px;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
    color: rgb(236, 232, 232);
    background-color: rgb(10, 10, 10);
}

.btn:hover{
    transform: scale(1.2);
    opacity: 0.8;
}

#left{
    top: 50%;
    left: 2vw;
}

#right{
    top: 50%;
    right: 2vw;
}
/* fim do slider */

/* cursos populares */
/* imagens */
.populares .itens .item img{
    display: block;
    max-width: 100%;
}

/* fontes */
.populares h3{
    margin: 10px auto 5px auto;
}

.populares a{
    text-decoration: none;
    color: var(--almostBlack);
}

.item .detalhe .star{
    padding-bottom: 5px;
}

.item .detalhe span{
    font-size: 15px;
}

.populares{
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid rgba(16, 14, 29, 0.219);
    background: #fff;
}

/* container principal */
.populares .itens{
    background-color: var(--almostWhite);
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    background: #fff;
}
  
.populares .item {
    flex: 1 1 250px;
    padding: 15px;
}

.populares .item:hover{
    transform: scale(1.05);
    border-radius: 7px;
    border: 1px rgba(102, 102, 102, 0.493) solid;
    background: #fff;
    box-shadow: 0 0 10px #666;
    transition: all 0.3s ease-in-out;
}

.populares h3:hover{
    text-decoration: underline;
}

.populares a:visited{
    color: var(--almostBlack);
    
}
/* fim cursos populares */

/* planos */
main .content{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    border-top: 1px solid rgba(16, 14, 29, 0.219);
    border-bottom: 1px solid rgba(16, 14, 29, 0.219);
    background: #fff;
    justify-content: center;
    align-items: center;
}

main .content .coluna{
    padding: 0 20px;
}

main .content .left{
    width: 420px;
    height: 400px;
}

main .content .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}


main .content .left{
    text-align: end;
    letter-spacing: 2px;
}

main .content .left h1{
    padding: 5px 15px;
    letter-spacing: 4px;
    border-radius: 5px;
    color: var(--almostWhite);
    background: var(--blue2);
}

main .content .left p{
    margin: 15px 0 20px 0;
}

main .content .buttom{
    width: 180px;
    height: 40px;
    background: var(--almostBlack);
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    transition: 0.2s ease-in;
}

main .content .buttom:hover{
    transform: scale(1.05);
}

main .content .buttom:visited{
    text-decoration: none;
    color: var(--almostWhite);
}
/* fim planos */

/* cursos */
main .ctt2{
    display: flex;
    flex-direction: row;
}

main .ctt2 .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

main .ctt2 .left{
    text-align: start;
    letter-spacing: 2px;
}


/* footer */
/* já esta definido no global.css */

/* responsividade */
/* tablet */
@media(max-width:801px){
    .slides .image .content{
        width: 260px;
        padding: 20px;
    }

    .slides .image #ctt-banner1{
        position: absolute;
        top: 45px;
        left: 80px;
    }
    
    .slides .image #ctt-banner2{
        position: absolute;
        top: 45px;
        right: 80px;
    }

    .slides .image .content h2, .slides .image .content p{
        font-size: smaller;
    }

    main .content{
    transform: scale(0.9);
    flex-direction: column;
    font-size: large;
   }

   main .content .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

    main .content .buttom{
        width: 200px;
    }
}

/* celular */
@media(max-width:480px){

    .btn{
        width: 25px;
        height: 25px;
        font-size: 16px;
        line-height: 24px;
    }

}

/* roda a animação quando interagir com o menu */
.nav-list.active {
    transform: translateX(0);
}